
.icon-plus-squared:before { content: '\e800'; } /* '' */
.icon-minus:before { content: '\e801'; } /* '' */
.icon-help-circled:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-email:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-right-big:before { content: '\e808'; } /* '' */
.icon-group:before { content: '\e809'; } /* '' */
.icon-trash-empty:before { content: '\e80a'; } /* '' */
.icon-check:before { content: '\e80b'; } /* '' */
.icon-menu:before { content: '\e80c'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-paypal:before { content: '\f342'; } /* '' */